.conteudo {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.background {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 129%;
  background-color: rgba(29, 33, 40, 0.8);
  z-index: -1;
}

.perfil-info {
  margin-left: 10px;
  color: white;
  font-size: 24px;
  margin-top: -30px;
}


.github-logo {
  width: 600px;
  height: 600px;
  display: flex;  
  margin: 70px 0 0 -200px;
}

input {
  position: absolute;
  border: 1px solid #999;
  border-radius: 22px;
  min-width: 250px;
  width: 40%;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  right: 300px;
  top: 40px;
}

button {
  position: absolute;
  border: 1px solid #999;
  border-radius: 22px;
  width: 5%;
  background: #2d333b;
  color: white;
  font-size: 18px;
  padding: 10px;
  right: 210px;
  top: 40px;
}

.perfil {
  display: flex;  
  margin: 120px 0 0 570px;
  
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid #e5e5e5;
  margin-right: 32px;
  
  
}

.profile h3 {
  color: #999999;
  font-size: 24px;
  margin: 0;
}

.perfil span {
  display: block;
  color: #999999;
  font-size: 24px;
  margin: 10px;

}

.perfil p {
  color: #999999;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 10px 565px;

  width: 50%;
  border-bottom: 1px solid white;
}



